
<div class="container">

    <h1 class="text-center">Clock Tutorial</h1>

    <div class="row">

        <div class="col-md-7">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/AE-epbcu_GE" allowfullscreen="" frameborder="0"></iframe>
            </div>
        </div>

        <div class="col-md-5">
            <div class="mt-1">
                <div class="ecwid ecwid-SingleProduct-v2 ecwid-SingleProduct-v2-bordered ecwid-SingleProduct-v2-centered ecwid-Product ecwid-Product-87180937" itemscope itemtype="http://schema.org/Product" data-single-product-id="87180937"><div itemprop="image"></div><div class="ecwid-title" itemprop="name" content="Clock Tutorial Files"></div><div itemtype="http://schema.org/Offer" itemscope itemprop="offers"><div class="ecwid-productBrowser-price ecwid-price" itemprop="price" content="0" data-spw-price-location="button"><div itemprop="priceCurrency" content="USD"></div></div></div><div customprop="options"></div><div customprop="addtobag"></div></div><script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?11521193&data_platform=singleproduct_v2" charset="utf-8"></script><script type="text/javascript">xProduct()</script>
            </div>
        </div>

    </div>

    <h2 class="text-left boldText">Follow Along And Make Your Own Clock Render!</h2>

    <h4>Files Needed</h4>
        <div id="filesNeeded">
            <ul>
                <li>Clock Tutorial Files Found Above</li>
                <li><a href="https://www.textures.com/download/paperdecorative0059/22355?q=PaperDecorative0059" target="_blank">Background Texture From textures.com</a></li>
                <li><a href="https://www.poliigon.com/texture/2271" target="_blank">Floor Texture From poliigon.com</a></li>
                <li><a href="http://www.hdrlabs.com/sibl/archive.html" target="_blank">HDR Image - Barcelona Rooftops</a></li>
		    </ul>
        </div>
</div>

<div id="divider" class="mt-2"></div>

{{!-- Ecwid Store --}}

<div id="my-store-11521193"></div>
<div>
<script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?11521193&data_platform=code&data_date=2018-03-09" charset="utf-8"></script><script type="text/javascript"> xProductBrowser("categoriesPerRow=3","views=grid(20,3) list(60) table(60)","categoryView=grid","searchView=list","id=my-store-11521193");</script>
</div>


