
<div class="container">
    <h1 class="text-center" style="color: white;">Your Cart</h1>

{{# if products }}
    <div class="row">
        <div class="col">
            <ul class="list-group">
                {{# each products}}
                    <li class="list-group-item">
                        <strong>{{ this.item.title }}</strong>
                        <span class="label label-success">${{ this.price }}</span>
                        <div class="btn-group float-right">
                            <button class="btn btn-danger btn-xs" type="button">Remove Item<span class="caret"></span></button>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>

    <br>

    <strong style="color: white;">Total: ${{ totalPrice }}</strong>
    <br>
    <a href="/account/checkout" type="button" class="btn btn-success">Checkout</a>
    <br>
    <button type="button" class="btn btn-danger mt-2">Clear Cart</button>

{{ else }}

    <h1>No Items In Cart</h1>

{{/if}}



</div>



{{!-- <div class="container">
    <h1 class="text-center" style="color: white;">Your Cart</h1>
    <div class="row">
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Blender Clock Tutorial Files: </strong>
                    <span class="label label-success"> $12</span>
                    <div class="btn-group float-right">
                        <button class="btn btn-danger btn-xs" type="button">Remove Item<span class="caret"></span></button>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <br>

    <hr>
    <strong style="color: white;">Total: </strong>
    <button type="button" class="btn btn-success">Checkout</button>



</div> --}}