 <div class="container">
    <h1 class="text-center mt-2 boldText">Store</h1>
    <h4 class="text-center">Art and Tutorial Files!</h4>

    {{# each products }}
        Product!
    {{/each}}

    {{!-- <div class="card-deck mt-3" >
        <div class="card" >
            <a href="/store/7"><img class="card-img-top" src="images/plays.png" alt="Card image cap"></a>
            <div class="card-body">
                <h5 class="card-title boldText">Top Plays Countdown</h5>
            </div>
            <div class="card-footer">
                <a href="/store/7" class="btn btn-primary btn-block btn-danger card-bottom" style="margin-top: 5px;">View Product</a>
            </div>
        </div>
        
        <div class="card" >
            <a href="/store/5"><img class="card-img-top" src="images/clock.png" alt="Card image cap"></a>
            <div class="card-body">
                <h5 class="card-title boldText">Realistic Clock</h5>
            </div>
            <div class="card-footer">
                <a href="/store/5" class="btn btn-primary btn-block btn-danger card-bottom" style="margin-top: 5px;">View Product</a>
            </div>
        </div>

        <div class="card" >
            <a href="/store/9"><img class="card-img-top" src="images/keys.png" alt="Card image cap"></a>
            <div class="card-body">
                <h5 class="card-title boldText">Flying Keys</h5>
            </div>
            <div class="card-footer">
                <a href="/store/59" class="btn btn-primary btn-block btn-danger card-bottom" style="margin-top: 5px;">View Product</a>
            </div>
        </div>
    </div>  --}}

</div> {{!-- end container div --}}


